@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2><b>Best price-quality ratio for renting cars in Bulgaria</b></h2>
    <p></p>

    <img class="d-block w-100" style="height:500px"
         src="https://www.ecorentacar.com/wp-content/uploads/2019/03/Luxury-Fleet-Banner.jpg" />
</div>
